api_gateway/node_modules

auth_service/.env
auth_service/node_modules
auth_service/src/config/config.json

booking_service/.env
booking_service/node_modules
booking_service/src/config/config.json

email_service/.env
email_service/node_modules
email_service/src/config/config.json

reminder_service/.env
reminder_service/node_modules
reminder_service/src/config/config.json

searchservice/.env
searchservice/node_modules
searchservice/src/config/config.json